{% extends 'base.html' %}


{% block content %}
<h2>Update Profile</h2>
<div  class="card p-3 my-4 row " style="align-items: center;   margin: auto; border-color: white;">
<form method="post" enctype="multipart/form-data" style="text-align: start; align-items: center;" class="form-control mb-3 col-sm-6">
    {% csrf_token %}
    {{ form.as_p }} <!-- User form -->
    {{ profile_form.as_p }} <!-- Profile form -->
    <button type="submit" class="btn btn-primary">Save changes</button>
</form>
</div>
{% endblock %}